@CHARSET "UTF-8";

.body {
	min-height: 700px;
	width: 90%;
}

.header {
	height: 60px;
	font-family: verdana;
	border-bottom: 4px solid black;
}

.header .text {
	line-height: 60px;
	font-size: 30px;
	color: blue;
	padding-left: 5%;
	vertical-align: middle;
	float: left;
}

.header .rightPart {
	float: right;
	margin-right: 20px;
}

.header .rightPart .logout {
	height: 30px;
	line-height: 30px;
}

.header .rightPart .locale {
	float: right;
	height: 30px;
	line-height: 30px;
}

.footer {
	height: 20px;
	border-top: 4px solid black;
	font-family: verdana;
	text-align: center;
}

.page {
	border: 4px solid black;
}

.newsList {
	list-style: none;
}

li.news {
	margin-left: 0;
	font-size: 20px;
	height: 160px;
}

div.highPart {
	margin-top: 10px; 
	height: 20px;
}

div.title {
	font-weight: bold;
	float: left;
}

div.author {
	margin-left: 100px;
	float: left;
}

div.modificationDate {
	float: right;
	margin-right: 30px;
	text-decoration: underline;
}

div.middlePart {
	margin-top: 10px;
	display: table;
	min-height: 80px;
	overflow: hidden;
}

div.shortText {
	display: table-cell;
	vertical-align: middle;
}

}
div.bottomPart {
	height: 20px;
	disaply: table;
}

div.commentsCount {
	color: red;
	float: right;
	margin-right: 50px;
}

div.deleteCheckbox {
	float: right;
	margin-right: 40px;
}

div.view {
	float: right;
	margin-right: 20px;
}

div.edit {
	float: right;
	margin-right: 20px;
}

div.tagList {
	color: gray;
	float: right;
	margin-right: 50px;
}

div.filter {
	display: table;
	margin: 0 auto;
	height: 30px;
	padding: 20px;
}

div.filterForm {
	float: left;
}

select.authorList {
	width: 200px;
	height: 30px;
	display: block;
	float: left;
}

div.button {
	float: left;
}

input.button {
	height: 30px;
	font-size: 20px;
}

div.fullTextWrapper {
	display: table;
	margin-top: 10px;
	min-height: 200px;
	overflow: hidden;
}

div.fullText {
	display: table-cell;
	vertical-align: middle;
}

div.newsView {
	margin: 40px;
	margin-top: 10px;
	font-size: 20px;
}

div.commentList {
	width: 400px;
}

div.comment {
	min-height: 40px;
	margin-top: 5px;
	margin-bottom: 5px;
	width: inherit;
}

div.commentDate {
	text-decoration: underline;
	margin: 5px;
}

div.commentText {
	background: #c0c0c0;
	display:inline-block;
	width: 382px;
	max-width: 382px;
}

div.newComment {
	min-height: 40px;
	width: inherit;
}

textarea.newComment {
	width: 395px;
	min-height: 60px;
}

div.commentScroll {
	height: 300px;
	overflow-y: scroll;
}

input.postComment {
	margin: 5px;
	float: right;
}

div.topMenu {
	height: 20px;
	margin: 20px;
}

div.bottomMenu {
	height: 20px;
	margin: 20px;
}

div.next {
	float: right;
}

div.previous {
	float: left;
}

.label {
	color: black;
	font-size: 18px;
}

.multiselect {
	float: left;
	display: inline-block;
	/* Size and position */
	position: relative;
	width: 190px;
	height: 50px;
	/* Styles */
	cursor: pointer;	
}

.select_box {
	position: relative;
}

.select_box select {
	width: 100%;
	height: 30px;
}

.over_select {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

#checkboxes {
	position: relative;
	display: none;
	border: 1px solid gray;
	background: white;
	height: 300px;
	overflow-y: scroll;
}

#checkboxes label {
	margin-top: 5px;
	margin-left: 5px;
	display: block;
}

div.pagination {
	font-size: 25px;
	margin: 10px;
}

div.loginForm {
	border: 3px solid black;
	width: 250px;
	height:140px;
	margin: 0 auto;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) ;

	font-size: 20px;
}

input.loginButton {
	margin-top: 5px;
	float: right;
	height: 25px;
	margin-right: 5px;
}

input.text {
	width: 150px;
}

.menu {
	valign: top;
	vertical-align: top;
	/*border: 1px solid black;*/
	min-height: inherit;
	width: 250px;
}

div.delButtonWrap {
	disaply: table;
	height: 30px;
}

div.delButton {
	float: right;
	margin-right: 10px;
}

input.delButton {
	height: 30px;
}

/* for add/edit news page*/

input.editTitle {
	width: 400px;
}

textarea.brief {
	width: 400px;
	overflow: hidden;
}

textarea.content {
	width: 400px;
	height: 200px;
}

div.editDropdownListsWrap {
	 display: table; 
	height: 30px;
	width: 490px;
}

div.editDropdownLists {
	float: right;
}

div.saveButton {
	float: right;
	margin-right: 10px;
	height: 30px;
}

input.saveButton {
	height: 30px;
	min-width: 80px;
}

div.editFrame {
	position: relative;
	top: 50px;
	width: 500px;
	margin: auto;	
	
}

div.deleteCommentButton {
	float:right;
}

div.innerCommentText {
	max-width:340px;
	float:left;
}

div.editTagList {
	padding-top: 30px;
	width: 700px;
	margin: auto;	
}

input.editTag {
	width: 300px;
}

.linkLikeButton {
     background:none;
     border:none; 
     padding:0;
     margin:0;
     text-decoration: underline;
     font: inherit;
     cursor: pointer;
     color: blue;
}

div.editAuthorList {
	padding-top: 30px;
	width: 700px;
	margin: auto;	
}

input.editAuthor {
	width: 300px;
}

.menuItem {
	height: 30px;
	font-size: 20px;
	padding-left: 10px;
}

.menuList {
	width: 250px;
	padding-top: 10px;
	height:730px;
	border-right: 2px solid grey;
}

.errorUpdate {
	color: red;
	font: bold;
}
